/**
 * General elements.
 */

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 4rem 0;
	min-height: 100vh;
	color: #333;
	font: 1.6rem/1.5 Lora, Georgia, 'Times New Roman', serif;
	background: #e7e7e7;
	border: 2.4rem solid #fff;

	@media(min-width: 800px) {
		padding: 6rem 0;
	}
}

/**
 * Main layout.
 */

// Header title top of the page.
.title {
	position: relative;
	max-width: 130rem;
	margin: 0 auto 1rem;
	text-align: center;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		right: 2.4rem;
		left: 2.4rem;
		height: .1rem;
		background: #bbb;
		z-index: 1;
	}
}

h1 {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0 1.2rem;
	font-size: 3rem;
	background: #e7e7e7;
	text-shadow: .2rem .2rem 0 #f7f7f7;
	z-index: 2;

	@media(min-width: 800px) {
		padding: 0 4rem;
		font-size: 5rem;
	}

	span {
		margin: 0 .3rem;
		font-style: italic;
		font-weight: 400;
	}
}

// Main grid for the random and favourite jokes.
.container {
	max-width: 130rem;
	margin: 0 auto;
	padding: 1.2rem;

	@media(min-width: 800px) {
		display: flex;
	}

	// Default properties for the 2 columns.
	> section {
		margin: 0 1.2rem;
		transition: all 1s;

		@media(min-width: 1350px) {
			margin: 0 2.4rem;
		}
	}

	@media(min-width: 800px) {
		.random-jokes {
			flex: 2;
		}
	}

	.favourite-jokes {
		display: none;
		margin-top: 3rem;

		@media(min-width: 800px) {
			margin-top: 0;
			flex: 0;
		}
	}

	&.has-favourites {
		.random-jokes {
			flex: 1;
		}

		.favourite-jokes {
			display: block;
			flex: 1;
		}
	}
}

// Section header.
h2 {
	margin: 0 0 1.2rem;
	font-size: 1.6rem;
	background: #e7e7e7;
	text-align: center;
	text-shadow: .2rem .2rem 0 #f7f7f7;

	@media(min-width: 800px) {
		font-size: 2rem;
	}
}

/**
 * Jokes section.
 */

.jokes {
	margin: 0;
	padding: 0;
	list-style: none;
	box-shadow: 0 .1rem .8rem #bbb;
}

.jokes__joke,
.jokes__button {
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: -.1rem;
	padding: 1rem 1.6rem;
	transition: all 150ms;
	z-index: 1;

	&:hover {
		z-index: 2;
	}

	@media(min-width: 800px) {
		padding: 1.6rem 2.4rem;
	}
}

// Individual joke item.
.jokes__joke {
	padding-right: 5rem;
	background: #fff;
	border: .1rem solid #aaa;
}

.jokes__button {
	color: #fff;
	font: 1.6rem/1.5 Lora, Georgia, 'Times New Roman', serif;
	text-shadow: .2rem .2rem 0 #11649e;
	background: #178cda;
	border: .1rem solid #bbb;

	&:hover {
		background: #1373b5;
		border-color: #0d4f7d;
		cursor: pointer;
	}
}

.jokes__button--auto-add::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: .6rem;
	background: #0d4f7d;
	animation: 5s linear infinite auto-adding;
}

@keyframes auto-adding {
	0%   { width: 0; }
	100% { width: 100%; }
}

// Favourite toggle icon.
.jokes__favourite {
	opacity: 1;
	position: absolute;
	top: .8rem;
	right: 1.1rem;
	width: 1.8em;
	height: 1.8em;
	cursor: pointer;
	transition: all 150ms;

	&:hover {
		opacity: .7;
	}

	@media(min-width: 800px) {
		top: 1.4rem;
	}
}
