doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title ChuckStruck
		base(href="/")
		link(href="/styles/style.css" rel="stylesheet")
	body
		.title
			h1 Struck
				span By
				| Chuck
		main.container(v-bind:class="{ 'has-favourites': favouriteJokes.length }")
			section.random-jokes
				h2 Random Jokes
				ul.jokes(v-if="randomJokes")
					joke-item(v-for="joke in randomJokes" v-bind:joke="joke" v-bind:key="joke.id")
					li
						button.jokes__button(@click="getRandomJokes()") Refresh Jokes
			section.favourite-jokes
				h2 Favourites ({{ favouriteJokes.length }})
				ul.jokes(v-if="favouriteJokes")
					joke-item(v-for="joke in favouriteJokes" v-bind:joke="joke" v-bind:key="joke.id")
					button.jokes__button(@click="toggleAutoAdd()" v-bind:class="{ 'jokes__button--auto-add': autoAdd }") {{ autoAdd ? 'Disable auto-add...' : 'Auto-add (every 5 seconds)' }}
		link(href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet")
		script(src="https://cdn.jsdelivr.net/npm/vue")
		script(src="https://unpkg.com/axios/dist/axios.min.js")
		script(src="/scripts/script.js")
